<!doctype html>
<html lang="en" ng-app="HoliDice">
  <head>
    <meta charset="utf-8">
    <title>HoliDice</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="js/secrets.js"></script>
    <script src="js/app.js"></script>
    <script src="js/holiDiceController.js"></script>
    <script src="js/flightSearchFactory.js"></script>
    <script src="js/resultsFactory.js"></script>
    <script src="js/randomAirportFactory.js"></script>
    <script src="js/airportIATAs.js"></script>

  </head>

  <body ng-controller="HoliDiceController as HDCtrl">
    <h1>HoliDice</h1>
    <form class="form-horizontal" id="input-form">

      <input type="text" class="input-box"
        placeholder="Where do you want to fly from?"
        ng-model="HDCtrl.startLocation" />
      <br>
      <input type="text" class="input-box"
        placeholder="When do you want to leave?"
        ng-model="HDCtrl.depDate" />
      <br>
      <input type="text" class="input-box"
        placeholder="When do you want to return?"
        ng-model="HDCtrl.returnDate" />
      <br>
      <button class="btn" ng-click="HDCtrl.doSearch()">Find</button>
    </form>

    <p data-ng-bind="HDCtrl.outboundName"></p>
    <p>To:</p>
    <p data-ng-bind="HDCtrl.inboundName"></p>
    <br>
    <p>Carrier: <span data-ng-bind="HDCtrl.carrierName"></span></p>
    <p>Flight Number: <span data-ng-bind="HDCtrl.flightNumber"></span></p>
    <p>Price: <span data-ng-bind="HDCtrl.price"></span></p>
    <p>Departure Time: <span data-ng-bind="HDCtrl.departureTime"></span></p>
  </body>
</html>
